<div style="margin: 20px;">
    <div class="row">
        <div class="col s4">
            <app-tarifas></app-tarifas>
        </div>
        <div class="col s8">
            <div class="row center">
                <div class="col s12">
                    <a class="modal-trigger" href="#modalArchvios">Ver archivos</a>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <app-productos-estaticos></app-productos-estaticos>
                </div>
            </div> 
        </div>
    </div>
</div>

<!-- Modal archivos -->
<div id="modalArchvios" class="modal">
    <div class="row" style="margin: 0px !important;">
        <i class="material-icons modal-close right" style="margin: 8px;">close</i>
    </div>
    <div class="modal-content">
        <div class="row center">
            
        </div>
        <div class="row">
            <div class="col s2 left-align">
                
            </div>
        </div>
    </div>
</div>
