<mat-drawer-container style=" height: 100vh; width: 100%;" class="example-container">
    <mat-drawer mode="side" opened>
        <mat-list>
            <mat-list-item class="menu" role="listitem ">
                <mat-icon md-48 class="material-icons-outlined" style="color: gray;"> T
                </mat-icon>
                &nbsp; Traslados
            </mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>