<!-- <div class="panel">
    <nav class="light-blue lighten-5">
        <div class="nav-wrapper container">
            <p href="#" class="brand-logo center black-text">{{ title }}</p>
            <ul *ngIf="isAuth" class="right">
                <li>
                    <a [routerLink]="['/administrador']" (click)="changeStatusAuth()" class="black-text">
                        <i class="material-icons right black-text">logout</i>Salir
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div> -->



<app-navigation>
</app-navigation>

<router-outlet>
</router-outlet>